section.portfolio {
  width: 100%;
}

h2 {
  width: 100%;
  height: 38px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #222;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

.portfolio__imgContainer {
  position: relative;
}

.portfolio__imgContainer:nth-child(1) {
  grid-column: 1 / span 9;
}
.portfolio__imgContainer:nth-child(2) {
  grid-column: 10 / span 7;
}
.portfolio__imgContainer:nth-child(3) {
  grid-column: 17 / span 9;
}
.portfolio__imgContainer:nth-child(4) {
  grid-column: 1 / span 7;
}
.portfolio__imgContainer:nth-child(5) {
  grid-column: 8 / span 18;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 0.5) 0%,
    rgba(255, 154, 61, 0.5) 100%
  );
  opacity: 0;
  transition: 0.5s;
}

.portfolio__overlay > * {
  margin: 5% 5% 0 5%;
}
.portfolio__imgContainer h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.portfolio__imgContainer p {
  font-size: 16px;
  line-height: 19px;
  margin-top: 1%;
}
.portfolio__imgContainer:last-child p {
  width: 40%;
}
.portfolio__imgContainer button {
  font-family: "Raleway";
  background: linear-gradient(270deg, #ffc53d 14%, #ff9a3d 68.5%);
  background-color: #fff;
  border-radius: 15px;
  width: 7vw;
  height: 3.5vw;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 3.5vw;
  letter-spacing: 0.02em;
  transition: 0.3s;
  margin-top: 10%;
}
.portfolio__imgContainer:last-child button {
  margin-top: 3%;
}
.portfolio__imgContainer:hover > div {
  opacity: 1;
}
.portfolio__imgContainer button:hover {
  background-image: none;
  background-color: #fff;
  color: #ffc53d;
  border: 1px solid #ffc53d;
}

@media (max-width: 1200px) {
  .portfolio__imgContainer button {
    border-radius: 8px;
    width: 10vw;
  }
}

@media (max-width: 1024px) {
  .portfolio__imgContainer:nth-child(1) {
    grid-column: 1 / span 14;
  }
  .portfolio__imgContainer:nth-child(2) {
    grid-column: 15 / span 11;
  }
  .portfolio__imgContainer:nth-child(3) {
    grid-column: 12 / span 14;
    order: 4;
  }
  .portfolio__imgContainer:nth-child(4) {
    grid-column: 1 / span 11;
    order: 3;
  }
  .portfolio__imgContainer:nth-child(5) {
    grid-column: 1 / -1;
    order: 5;
  }
  .portfolio__imgContainer p {
    font-size: 16px;
  }
  .portfolio__imgContainer:last-child p {
    width: 50%;
  }
  .portfolio__imgContainer button {
    height: 5vw;
    line-height: 5vw;
  }
}
@media (max-width: 860px) {
  .portfolio__imgContainer:last-child h3 {
    margin-top: 3%;
  }
  .portfolio__imgContainer button {
    border-radius: 10px;
    width: 12vw;
    height: 6vw;
    line-height: 6vw;
  }
}
@media (max-width: 640px) {
  .portfolio__imgContainer p {
    font-size: 14px;
  }
  .portfolio__imgContainer:last-child p {
    width: 90%;
  }
  .portfolio__imgContainer button {
    border-radius: 10px;
    width: 12vw;
    height: 6vw;
    line-height: 6vw;
    margin-top: 5%;
  }
  .portfolio__imgContainer h3 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 460px) {
  .portfolio__container > .portfolio__imgContainer {
    grid-column: 1/-1;
  }
  .portfolio__imgContainer h3 {
    font-size: 40px;
    margin-top: 5%;
  }
  .portfolio__imgContainer:last-child h3 {
    font-size: 30px;
  }
  .portfolio__imgContainer p {
    font-size: 18px;
    margin-top: 3%;
  }
  .portfolio__imgContainer:last-child p {
    font-size: 14px;
    margin-top: 0;
  }

  .portfolio__imgContainer button {
    width: 25vw;
    height: 9vw;
    line-height: 9vw;
    border-radius: 10px;
    margin-top: 10%;
  }

  .portfolio__imgContainer:last-child button {
    margin-top: 2%;
  }
}

.portfolio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
